# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

#Goffy
/talestation_modules/icons/ @Gofawful5

#Jolly66

#Config
/config/ @Jolly-66

#Maps
/_maps/ @Jolly-66

#Tajaran
talestation_modules/code/modules/mob/living/carbon/human/species_types/tajaran.dm @Jolly-66

#prodirus
#Pain
talestation_modules/code/__DEFINES/pain_defines.dm @prodirus
talestation_modules/code/datums/pain/pain_helpers.dm @prodirus
talestation_modules/code/datums/pain/pain.dm @prodirus
talestation_modules/code/modules/mob/living/carbon/pain/ @prodirus
talestation_modules/code/modules/reagents/chemistry/reagents/pain_reagents.dm @prodirus
