# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Org Teams

# Lore

# Maps
/_maps/ @talestation/Maptainers
/code/game/area/areas @talestation/Maptainers
/code/modules/unit_tests/map_landmarks.dm @talestation/Maptainers
/code/modules/unit_tests/required_map_items.dm @talestation/Maptainers
/talestation_modules/code/mapping_module @talestation/Maptainers

# Icons
/icons/ @talestation/Spritetainers
/talestation_modules/icons/ @talestation/Spritetainers

# Jolly66

# Tajaran
/talestation_modules/code/species_module/tajaran/ @Jolly-66

# XenoBotany
/code/modules/hydroponics/seed_extractor.dm @Jolly-66
/talestation_modules/code/xenobotany_module @Jolly-66

# prodirus

# Pain
/talestation_modules/code/pain_module/ @prodirus

# Multiple Owners

# Config
/config/ @Jolly-66 @MarkSuckerberg
