# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

#Jolly66

#Config
/config/ @Jolly-66

#Maps
/_maps/ @Jolly-66

#Tajaran
/talestation_modules/code/species_module/tajaran @Jolly-66

#XenoBotany
/code/modules/hydroponics/seed_extractor.dm @Jolly-66
/talestation_modules/code/xenobotany_module @Jolly-66

#prodirus

#Pain
/talestation_modules/code/pain_module @prodirus
