<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>code&#x2F;datums&#x2F;components&#x2F;subtype_picker.dm - TaleStation</title>
</head>
<body>
<header>
    <a href="index.html">TaleStation</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
</header>
<main>
<h1>code/datums/components/subtype_picker.dm 
            <a href="https://github.com/TaleStation/TaleStation/blob/7b370f4ca4fcaccc340a51c94cabbaa45f8c9a16/code/datums/components/subtype_picker.dm">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;subtype_picker.dm"/></a></h1>

<table class="summary" cellspacing="0">
        <tr><th><a href="datum&#x2F;component&#x2F;subtype_picker.html">&#x2F;datum&#x2F;component&#x2F;subtype_picker</a></th><td>subtype picker component allows for an item to transform into its subtypes (this is not enforced and you can turn in whatever types, but
i used this name as it was incredibly accurate for current usage of the behavior)</td></tr></table></main>
<footer>
    tgstation.dme
    <a href="https://github.com/TaleStation/TaleStation/tree/7b370f4ca4fcaccc340a51c94cabbaa45f8c9a16">7b370f4</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
